<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		
		<title>Burgers!</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/scripts/index.js"></script>
		<script src='https://kit.fontawesome.com/a076d05399.js'></script>
		<link rel="stylesheet" href="/assets/css/burger_styles.css" type="text/css" />
	</head>
	<body>
		{{{ body }}}
	</body>
</html>
